.btn-ban {
	border-radius: 8px;
	background-color: #FF0000;
	border: none;
	color: white;
	text-align: center;
	width:30px;
	height:30px;
	opacity: 0.6;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background-image: url("../images/ban_hammer.png");
	background-size: 30px 30px;
}

.btn-ban:hover {
	opacity: 1;
}