<div class="card">

	<div class="card-header">
		<h1>Login</h1>
	</div>

	<div class="card-body">
		<form  action="/users/login" method="POST">

			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="/users/register">Don't Have An Account?</a>

		</form>
	</div>

</div>